name: flutter_app_badger_tizen_example
description: Demonstrates how to use the flutter_app_badger_tizen plugin.
publish_to: 'none'

dependencies:
  flutter:
    sdk: flutter
  flutter_app_badger: ^1.5.0
  flutter_app_badger_tizen:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=2.0.0"
