name: wakelock_tizen_example
description: Demonstrates how to use the wakelock_tizen plugin.
publish_to: 'none'

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=2.0.0"

dependencies:
  flutter:
    sdk: flutter
  wakelock: ^0.5.1
  wakelock_tizen:
    path: ../

