name: google_maps_flutter_tizen_example
description: Demonstrates how to use the google_maps_flutter_tizen plugin.
publish_to: none

environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: ">=2.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^0.1.0
  google_maps_flutter: ^2.0.3
  google_maps_flutter_tizen:
    path: ../

dev_dependencies:
  flutter_driver:
    sdk: flutter
  integration_test:
    sdk: flutter
  pedantic: ^1.10.0

flutter:
  uses-material-design: true
  assets:
    - assets/
