name: sensors_plus_example
description: Demonstrates how to use the sensors_plus plugin.
publish_to: "none"

environment:
  sdk: ">=2.18.0 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  sensors_plus: ^3.0.2
  sensors_plus_tizen:
    path: ../

dev_dependencies:
  flutter_driver:
    sdk: flutter
  integration_test:
    sdk: flutter
  integration_test_tizen:
    path: ../../integration_test/
  flutter_lints: ^2.0.1

flutter:
  uses-material-design: true
