name: shared_preferences_tizen_example
description: Demonstrates how to use the shared_preferences_tizen plugin.
publish_to: "none"

environment:
  sdk: ^3.6.0
  flutter: ">=3.27.0"

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^2.5.3
  shared_preferences_tizen:
    path: ../

dev_dependencies:
  flutter_driver:
    sdk: flutter
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  integration_test_tizen:
    path: ../../integration_test/

flutter:
  uses-material-design: true
