name: video_player_videohole_example
description: Demonstrates how to use the video_player_videohole plugin.
publish_to: "none"

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  video_player_videohole:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  integration_test:
    sdk: flutter
  path_provider: ^2.0.2
  path_provider_tizen: ^2.0.1
  pedantic: ^1.10.0
  test: any

flutter:
  uses-material-design: true
