name: Integration Test

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  integration_test:
    runs-on: [self-hosted, linux]
    if: ${{ github.repository_owner == 'flutter-tizen' }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: Install GNOME Packages
        run: |
          sudo add-apt-repository ppa:deadsnakes/ppa
          sudo apt update
          sudo apt install -y dbus-x11 gnome-keyring
      - name: Install flutter-tizen
        uses: actions/checkout@v3
        with:
          repository: flutter-tizen/flutter-tizen
          path: flutter-tizen
      - name: Run tests for changed packages
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          export PATH=`pwd`/flutter-tizen/bin:$PATH
          dbus-run-session -- bash -c "
          echo tizen | gnome-keyring-daemon --unlock &&
          ./tools/tools_runner.sh integration-test \
            --recipe ./.github/recipe.yaml \
            --generate-emulators \
            --run-on-changed-packages \
            --base-sha=$(git rev-parse HEAD^) 
          "
      - name: Run tests for all packages
        if: ${{ github.event_name == 'push' }}
        run: |
          export PATH=`pwd`/flutter-tizen/bin:$PATH
          dbus-run-session -- bash -c "
          echo tizen | gnome-keyring-daemon --unlock &&
          ./tools/tools_runner.sh integration-test \
            --recipe ./.github/recipe.yaml \
            --generate-emulators
          "
